/*-----------------CARRITO-----------------*/
.carrito-wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    justify-content: center;
    margin-bottom: 60px;
}

/*-----------------ITEMS CARRITO-----------------*/
.items-container {
    flex: 2;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    background-color: #c1acf7;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #ffffff;
}

.carrito-tabla {
    width: 100%;
    border-collapse: collapse;
}

.carrito-tabla th {
    text-align: start;
    font-size: 13px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.carrito-item td {
    padding: 10px 0;
    font-size: 12px;
    border-bottom: 1px solid #eee;
}

.info-texto {
    margin-right: 23px;
}

.info-texto p {
    margin: 0;
    margin-bottom: 5px;
}

.variante-tag {
    font-size: 12px;
}

.prod-detalles {
    display: flex;
    align-items: center;
    gap: 10px;
}

.prod-detalles img {
    width: 80px;
    height: 100px;
    aspect-ratio: 3/4;
    object-fit: cover;
    border-radius: 10px;
}

.badge-precio {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 0.65rem;
    font-weight: bold;
    margin-top: 5px;
    color: white;
}

.badge-oferta {
    background-color: #ff4d4d;
}

.badge-mayor {
    background-color: #52a95c;
}

.badge-docena {
    background-color: #ffb703;
    color: #000;
}

.badge-minorista {
    background-color: #8f7bc7;
}

.precio-viejo {
    text-decoration: line-through;
    opacity: 0.6;
    font-size: 0.8rem;
    margin-right: 5px;
    display: block;
}

/* Cambia los estilos activos de las tarjetas para que funcionen con JS */
.option-card input:checked+.option-info {
    opacity: 1;
}

.btn-remove {
    background: none;
    border: none;
    font-size: 35px;
    cursor: pointer;
    color: #b65353;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prod-remove {
    text-align: right;
    width: 40px;
}

.qty-selector {
    display: flex;
    border: 2px solid #ffffff;
    align-items: center;
    background-color: #ad95ef;
    border-radius: 20px;
    width: fit-content;
    padding: 5px 10px;
}

.qty-selector button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    width: 20px;
    font-size: 20px;
}

.qty-selector input {
    width: 20px;
    font-size: 12px;
    font-family: 'Unbounded';
    padding: 0;
    border: 0;
    margin: 0;
    background: none;
    color: white;
    text-align: center;
}

/* Quita las flechitas por defecto del input number */
.qty-selector input::-webkit-inner-spin-button,
.qty-selector input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-volver {
    display: inline-block;
    margin-top: 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #ffffff;
    padding: 15px 20px;
    border: 2px solid #ffffff;
    text-align: center;
    background-color: #7454d9;
}

.btn-volver p {
    margin: 0;
    font-size: 11px;
}

/*-----------------TOTALES Y DATOS-----------------*/
.totales-container {
    flex: 1;
    color: #ffffff;
    background-color: #c1acf7;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #ffffff;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.input-group label {
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.input-group input,
.input-group select,
textarea {
    background: white;
    border: 2px solid transparent;
    padding: 10px 15px;
    border-radius: 10px;
    font-family: 'Unbounded', sans-serif;
    font-size: 0.85rem;
    color: #000000;
    transition: all 0.3s ease;
    width: 100%;
}

.input-group input::placeholder {
    color: #ad95ef;
}

textarea {
    min-height: 80px;
    resize: none;
}

.input-group input:focus,
.input-group select:focus,
textarea:focus {
    outline: none;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.hr-carrito {
    border: 1px solid;
    border-radius: 50px;
    color: #ffffff;
    opacity: 0.3;
}

.option-card p {
    margin: 0;
}

.option-card {
    display: flex;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    border: 2px solid #ffffff;
    background-color: #ad95ef;
    transition: all 0.3s ease;
}

.option-card.active {
    background-color: #a273ec;
    outline: none;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.option-card input[type="radio"] {
    display: none;
}

.help-p {
    font-size: 11px;
}

.desglose-box {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 15px;
    margin-top: 20px;
    border: 1px dashed #ffffff;
}

.desglose-linea {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    color: #fff;
}

.desglose-linea.ahorro {
    color: #fff;
}

.subtotal-not-ahorro {
    text-decoration: line-through;
}

.subtotal-ahorro {
    font-weight: bold;
}

.total-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.total-row h3,
.total-row h2 {
    margin: 10px 0 0 0;
}

.btn-enviar {
    padding: 12px 5px;
    background-color: #65cf72;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #ffffff;
    gap: 5px;
    font-family: "Unbounded", sans-serif;
    width: 100%;
    cursor: pointer;
}

.btn-enviar img {
    width: 22px;
}

/*----------------RESONSIVE----------------*/
@media (max-width: 1350px) {
    main {
        margin-top: 160px;
    }

    .carrito-wrapper {
        flex-direction: column;
        align-items: stretch;
    }

    .totales-container {
        width: 100%;
    }

    .items-container {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .carrito-tabla,
    .carrito-tabla thead,
    .carrito-tabla tbody,
    .carrito-tabla th,
    .carrito-tabla td,
    .carrito-tabla tr {
        display: block;
        width: 100%;
    }

    .carrito-tabla thead {
        display: none;
    }

    .carrito-item {
        display: block;
        position: relative;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 15px;
        background-color: #ad95ef;
    }

    .carrito-item td {
        padding: 5px 0;
        border: none;
        text-align: left;
    }

    .prod-detalles {
        flex-direction: row;
        align-items: center;
    }

    .prod-detalles img {
        width: 90px;
        height: auto;
        aspect-ratio: 3/4;
        object-fit: cover;
    }

    .prod-remove {
        position: absolute;
        top: 10px;
        /* Distancia desde el borde superior */
        right: 10px;
        /* Distancia desde el borde derecho */
        width: auto !important;
        height: auto !important;
        padding: 0 !important;
        border: none !important;
        z-index: 10;
    }

    .prod-precio,
    .prod-qty,
    .prod-subtotal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.9rem !important;
    }

    .prod-precio:before {
        content: "Precio: ";
        opacity: 0.8;
        font-size: 0.8rem;
    }

    .prod-qty:before {
        content: "Cantidad:";
        opacity: 0.8;
        font-size: 0.8rem;
    }

    .prod-subtotal:before {
        content: "Subtotal: ";
        opacity: 0.8;
        font-size: 0.8rem;
    }

    .qty-selector {
        margin: 5px 0;
    }

    .btn-volver {
        margin-top: 0;
        border-radius: 15px;
        padding: 12px 15px;
    }

    .btn-enviar {
        font-size: 13px;
    }

    .btn-enviar img {
        width: 20px;
    }
}

@media (max-width: 400px) {
    .total-price {
        font-size: 1.1rem;
    }
}