/*-----------------VIDEO-----------------*/
.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Ajusta la altura (80% de la pantalla) */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    z-index: 1;
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
    /* Volvemos a cover porque el video ya viene con el formato correcto */
    /* Cambiamos cover por contain para que se vea TODO el video */
    background-color: rgb(255, 255, 255);
    /* Opcional: por si el video no llena todo el alto, que el fondo sea negro */
    width: 100%;
    /* Ocupa todo el ancho */
    display: block;
}

.video-movil {
    display: none !important;
}

.video-pc {
    display: block !important;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    /* MEZCLA: Empieza con negro 40%, y termina con el violeta de tu marca */
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.4) 0%,
            /* Oscuridad arriba */
            rgba(0, 0, 0, 0.4) 60%,
            /* Mantiene la oscuridad hasta el 60% */
            #7454d9 100%
            /* Funde hacia tu color al final */
        );
}

/* Aplica esto a los textos (h1, h2, p) que estén dentro del video */
.video-overlay h1 {
    font-size: 45px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    /* Ocupa el ancho disponible */
    max-width: 800px;
    /* Evita que las líneas sean infinitas en PC */
}

.btn-home {
    padding: 12px 18px;
    font-size: 18px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    font-weight: bolder;
    background-color: #a880e9;
    color: #ffffff;
    text-decoration: none;
    border-radius: 13px;
}

/*-----------------FEATURES (ENVIO Y PAGO)-----------------*/
.features {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature {
    border: 3px solid #ffffff;
    color: #ffffff;
    border-radius: 40px;
    padding: 20px;
    width: 48%;
    height: auto;
    text-align: center;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

.feature img {
    width: 110px;
    height: auto;
}

/*-----------------CARTEL-----------------*/
.cartel {
    padding: 15px;
    border-radius: 30px;
    text-align: center;
    font-weight: 800;
    font-size: 2.5rem;
    /* Animación de parpadeo */
    animation: parpadeo 1s infinite;
}

@keyframes parpadeo {

    0%,
    100% {
        background-color: white;
        color: #b591ef;
        /* Color de letra claro */
        /* Capas: sombra 1 y sombra 2 */
        text-shadow: 3px 3px 0px #c6abf1;
    }

    50% {
        background-color: #7b68ee;
        /* Color de fondo oscuro */
        color: white;
        /* Color de letra blanco */
        /* Capas: sombra 1 y sombra 2 */
        text-shadow: 3px 3px 0px #d8c1ff;
    }
}

/*-----------------FLECHAS CARRUSEL-----------------*/
.flecha-carrusel {
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 5px;

    width: 50px;
    /* Ajusta según el tamaño de tu imagen */
    height: auto;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    transition: transform 0.1s;
}

.flecha-carrusel:hover {
    transform: scale(1.1);
}

.prev {
    left: -50px;
}

.next {
    right: -50px;
}

/*-----------------CARRUSEL Y PRODUCTO-----------------*/
.carrusel-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.productos,
.sobre-nosotras {
    margin: 40px 0;
}

.grid-productos {
    display: flex;
    /* Mantenemos flex para que se pongan en línea */
    gap: 10px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 10px 0;
    width: 100%;
}

.producto-card {
    position: relative;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 0 0 calc((100% - 20px) / 3);
    min-width: calc((100% - 20px) / 3);
    margin: 0;
}

.producto-card img {
    box-sizing: border-box;
    aspect-ratio: 3/4;
    object-fit: cover;
    width: 100%;
    border: 0;
    border-radius: 20px;
}

.producto-href {
    text-decoration: none;
    color: #000000;
}

.info-prod {
    margin: 20px;
}

.info-prod p {
    margin: 5px 0;
}

.producto-header,
.precios {
    margin-bottom: 20px;
}

.opciones {
    color: #b591ef;
    font-weight: 800;
}

.btn-ver-mas {
    width: 100%;
    font-family: "Unbounded", sans-serif;
    color: #ffffff;
    background-color: #b591ef;
    font-weight: 800;
    border: 0;
    border-radius: 10px;
    padding: 10px;
}

.precio-oferta,
.precio-mayor,
.precio-docena,
.precio-unico {
    font-size: 18px;
}

.etiqueta-oferta {
    background-color: #ff5757;
    color: #ffffff;
    font-weight: 800;
    font-size: 11px;
    padding: 2px;
    width: 70px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.precio-anterior {
    font-size: 13px;
    color: #979797;
    text-decoration: line-through;
}

.etiqueta-mayor {
    background-color: #7454d9;
    color: #ffffff;
    font-weight: 800;
    font-size: 11px;
    padding: 2px;
    width: 95px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.etiqueta-docena {
    background-color: #00bf63;
    color: #ffffff;
    font-weight: 800;
    font-size: 11px;
    padding: 2px;
    width: 75px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.etiqueta-unico {
    background-color: #0079bf;
    color: #ffffff;
    font-weight: 800;
    font-size: 11px;
    padding: 3px;
    width: 110px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.badge {
    position: absolute;
    top: 0;
    left: 0;
    background: #cf3025;
    color: #ffffff;
    padding: 8px 15px;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 10px;
    z-index: 10;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#grid-nuevos {
    display: flex !important;
    overflow-x: auto !important;
    /* Permite el scroll manual */
    scroll-behavior: smooth;
    width: 100%;
    scrollbar-width: none;
    /* Oculta barra en Firefox */
    -ms-overflow-style: none;
    /* Oculta barra en IE/Edge */
}

/* Oculta la barra en Chrome, Safari y Opera */
#grid-ofertas::-webkit-scrollbar,
#grid-nuevos::-webkit-scrollbar {
    display: none !important;
}

/*-----------------SOBRE NOSOTRAS-----------------*/
.not-cartel {
    padding: 15px;
    border-radius: 30px;
    text-align: center;
    font-weight: 800;
    font-size: 2.5rem;
    background-color: white;
    color: #b591ef;
    text-shadow: 3px 3px 0px #c6abf1;
}

.info-sobre-nosotras {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 20px 0;
}

.icon-direccion,
.icon-horarios {
    width: 50px;
    height: auto;
}

.direccion h2,
.horarios h2 {
    margin: 10px;
}

.direccion p,
.horarios p {
    margin: 5px;
}

.direccion,
.horarios {
    background-color: #ffffff;
    color: #b591ef;
    border-radius: 20px;
    padding: 20px;
    width: 49%;
    height: 220px;
    text-align: center;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.semana {
    display: flex;
    justify-content: space-between;
    text-align: start;
}

.sobre-nosotras iframe {
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

/*----------------RESONSIVE----------------*/
@media (max-width: 1100px) {
    .producto-card {
        /* Calculamos para que entren 2 productos y 1 gap de 20px */
        flex: 0 0 calc((100% - 10px) / 2);
        min-width: calc((100% - 10px) / 2);
    }

    .info-prod {
        margin: 8px;
    }

    .producto-header,
    .precios {
        margin-bottom: 15px;
    }

    .prev {
        left: -20px;
    }

    .next {
        right: -20px;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .info-sobre-nosotras {
        flex-direction: column;
        align-items: center;
    }

    .direccion,
    .horarios {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 900px) {

    /* En celulares, invertimos la visibilidad */
    .video-pc {
        display: none !important;
    }

    .video-movil {
        display: block !important;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translate(-50%, -50%);
    }

    .btn-home {
        padding: 10px 15px;
        font-size: 16px;
        border-radius: 10px;
    }
}

@media (max-width: 650px) {
    .video-overlay h1 {
        font-size: 30px;
    }

    .carrusel-wrapper {
        padding: 0;
        /* Espacio suficiente para las flechas de 30-40px */
        display: flex;
        justify-content: center;
    }

    /* 3. Las flechas ahora las ubicamos en el padding que creamos */
    .prev {
        left: 1px;
        /* Dentro del padding de 50px del wrapper */
    }

    .next {
        right: 1px;
        /* Dentro del padding de 50px del wrapper */
    }

    .flecha-carrusel {
        width: 40px;
        height: auto;
        position: absolute;
        z-index: 10;
        /* Si quieres que se vean más arriba/abajo, ajusta el top */
        top: 40%;
    }

    .badge {
        padding: 6px;
        font-size: 10px;
        border-radius: 8px;
    }

    .producto-card {
        border-radius: 10px;
    }

    .producto-card img {
        border-radius: 10px;
    }

    .info-prod p {
        font-size: 12px;
    }

    .opciones {
        font-size: 10px;
    }

    .btn-ver-mas {
        padding: 8px;
    }

    .cartel,
    .not-cartel {
        font-size: 24px;
        border-radius: 10px;
        padding: 12px 5px;
    }
}